%script{:type => 'text/template', :id => 'card_info_template'}
  .donut-main
    %h4 {{ ocr_info }}
    .side_bar_card{style: "background: url({{ url }}) no-repeat center top; background-size: contain; height: 155px;"}
      / %img{src: "{{ url }}" }